<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container-fluid">
    
    <a class="navbar-brand-logo ms-2" routerLink=""><img src="/assets/din-logo.ico" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class=" bg-light navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="level-nav-link nav-link" routerLink="" routerLinkActive="active">Home</a>
        </li>
        
        <li class="nav-item">
          <a class="level-nav-link nav-link" routerLink="users"  *ngIf="userIsAdmin" routerLinkActive="active">User</a>
        </li>
      </ul>

      <form class="d-flex" role="search">
          <a class="nav-link" [routerLink]="'/edit'"
          [queryParams]="{id:userToEdit.id}"  *ngIf="userLoggedIn" routerLinkActive="active-link">
            <i class="bi bi-person ico fs-3"></i>
          </a>

          <a class="nav-link " routerLink="" *ngIf="userLoggedIn" (click)="accountService.logout()"  routerLinkActive="active-link">
            <i class="bi bi-box-arrow-right fs-3"></i>
          </a>
      </form>
    </div>
  </div>
</nav> 